<!-- This will allow a new company
     to sign up. Action for this 
     view should be signup -->

<h1 class="sub-header">On Boarding</h1>

<h3>Please fill out form below</h3>
<form action="/companies" method="POST">
  <label for="name">Company Name:</label>
  <input type="text" name="company[name]" id="name"/>
  <br>
  <!-- might have to add checkboxes for every company that exists -->
  <br>
  <label for="site_address">Site Address:</label>
  <textarea type="text" rows="1" cols="80" name="company[site][address]" id="site_address"/></textarea>
  <br>
  <br>
  <label for="contact_name">Site Contact:</label>
  <input type="text" name="company[site][contact][name]" id="contact_name">
  <br>
  <br>
  <label for="contact_number">Contact Number:</label>
  <input type="text" name="company[site][contact][number]" id="contact_number">
  <br>
  <br>
  <label for="asset_ip">Site Asset:</label>
  <input type="text" name="company[site][asset][ip]" id="asset_ip">
  <br>
  <br>
  <input type="Submit">
</form>
