<!-- Backend creates company while users add sites. 
     Action for this view should be new -->

<h1 class="sub-header">On Boarding</h1>

<h3>Please fill out form below</h3>
<form action="/companies" method="POST">
  <label for="name">Company Name:</label>
  <input type="text" name="company[name]" id="name"/>
  <br>
  <!-- might have to add checkboxes for every company that exists -->
  <br>

  <input type="Submit">
</form>

<!--  -->