<h1 class="sub-header">Add your Asset below</h1>

<div class="well">
  <form action="/assets" method="POST">
        
        <label for="asset_ip">Site Asset IP:</label>
        <input type="text" name="company[site][asset][ip]" id="asset_ip">
        <br>
        <br>
        <input type="Submit">
  </form>
</div>