<!-- This should display all the sites
     for a company. As well as links to
     add new company users and view dashboards
     with show action. -->
  <h1 class="sub-header" align="center"><%= @company.name %></h1>

  <br>
  <br>
<h3 align="center">
  <% @sites.each do |site| %>
    <!-- add link to this site -->
    <a href="/sites/<%= site.id %>"><%=  site.address %></a>
  <% end %>
</h3>