<!-- This should display all the sites
     for a company. As well as links to
     add new company users and view dashboards
     with show action. -->

<h1><%= @site.company.name %></h1>

<br>
<br>
<% @site.company.sites.each do |site| %>
  <!-- add link to this site -->
  <p><%=  site.address %>
<% end %>