<!-- If the user is part of a company
     they can add a new site and fill
     out form for it
     FORM SECTIONS: 
     - contact
     - asset
     - site -->

<h1 class="sub-header">Add a site to your company below</h1>
<div class="well">
  <form action="/sites" method="POST">
      <br>
      <label for="site_address">Site Address:</label>
      <textarea type="text" rows="1" cols="80" name="site[address]" id="site_address"/></textarea>
      <br>
      <br>
      <label for="contact_name">Site Contact:</label>
      <input type="text" name="site[contact][name]" id="contact_name">
      <br>
      <br>
      <label for="contact_number">Contact Number:</label>
      <input type="text" name="site[contact][number]" id="contact_number">
      <br>
      <br>
      <input type="Submit">
  </form>
</div>